:root{
	--font-size: 16px;

	--line-height: 150%;
	--text-padding: 2% 0;

	--font-h1:'Jost black', sans-serif;
	--font-h2:'Jost black', sans-serif;
	--font-p: 'inter', sans-serif;
	--font-caption: 'inter', sans-serif; /* 굵기 어떻게 바꾸는데 */

	

}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}

h1 { 
	font-size: calc(var(--font-size) * 5);
	font-family: var(--font-h1);
	color: #000000;
	/* padding: var(--text-padding); */
}


/* PIZZA HELL'S GATE */
#P { top: 5vh; left: 10vw; }
#I { top: 15vh; right: 20vw; }
#Z1 { top: 40vh; left: 30vw; }
#Z2 { bottom: 13vh; right: 30vw; }
#A { bottom: 2vh; left: 20vw; }

.letter {
	font-size: calc(var(--font-size) * 10); 
	font-family: var(--font-h1);
	position: fixed;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	height: 100vh;
	margin: var(--font-size);

}

/*없애는거 고래중*/
.image-wrapper { 
	/* position: absolute; */
	overflow: hidden;
	transform: translateY(100%); /* 초기 위치 설정*/
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
	aspect-ratio: 1 / 1;


	position: static;
	z-index: 1;
}

.pizza-link {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 200px;
	height: 200px; 
	background-color: red;
	color: white; 
	border-radius: 50%;
	text-decoration: none; /* 링크 밑줄 제거 !! */

	font-family: var(--font-p); 
	font-size: calc(var(--font-size) * 1.25); 
	text-align: center; 
	padding: 20px;
	box-sizing: border-box;
}

footer {
	position: fixed; 

	right: 0; 
	bottom: 0; 

	padding: 10px; 

	font-size: calc(var(--font-size) * .9);
	font-family: var(--font-p);
}



/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */

@media (min-width: 768px) {
	:root{

	}
}


/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */

@media (min-width: 1280px) {
	:root{
		
	}
}


/* FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT */ 


@font-face {
  font-family: 'Anton-Regular';
  src: url('fonts/Anton-Regular.woff2') format('woff2'),
       url('fonts/Anton-Regular.woff') format('woff'),
       url('fonts/Anton-Regular.ttf') format('truetype')
			 url('fonts/Anton-Regular.otf') format('otf');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Sharpie-Regular';
  src: url('fonts/Sharpie-Regular.woff2') format('woff2'),
       url('fonts/Sharpie-Regular.woff') format('woff'),
       url('fonts/Sharpie-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Sharpie-Bold';
  src: url('fonts/Sharpie-Bold.woff2') format('woff2'),
       url('fonts/Sharpie-Bold.woff') format('woff'),
       url('fonts/Sharpie-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Jost:wght@900&display=swap');


/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Jost:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap'); */

