
:root{
	--font-size: 16px;
	--font-size-h1: 8vh; /**/
	--font-size-h2: 10vw; /**/
	--font-size-h3: calc(var(--font-size) * 1.15); /**/
	--font-size-h4: calc(var(--font-size) * 1.1);

	--font-size-fig: calc(var(--font-size) * 0.9);
	--font-size-bq: calc(var(--font-size)*1.2);

	--line-height: 150%;
	--line-height-title: 90%;
	--gap: 1rem; /* 피자박스 패딩에 씀 */


	--font-h1:"Boxing-Regular", display;
	--font-h2:"Boxing-Regular", display;
	--font-h3:"Oswald", sans-serif;
	--font-h4:"Inter", sans-serif;

	--font-p:"Inter", sans-serif;
	--font-caption: "Inter", sans-serif; /* 굵기 어떻게 바꾸는데 */

	--stroke-h1: 1.8px; /**/
	--stroke-h2: 1.6px; /**/


	--color-black: #000000;
	--color-red: #dc2f1c;

	--pizzabox-maxwidth: 800px;
	--pizzabox-margin: 4vw auto;
	/* --pizzabox-padding: 2vw 0vh; 안쓰는거같음 */
	--pizzabox-border: 8px var(--color-red) solid;
	--pizzabox-content-gap: 20px 0px;
	--pizzabox-padding-top: 20px;

	--pizzaimg-size: 270px;
	--background: #f7efdc;

	--column: 2;

	--pizzaheader-wrapper-width: 95%;
	--pizzaheader-h2-width: 90%;
	--pizzaheader-height: 18vh;


	--footer-height: 8vh;
}  

/* header{
	position: fixed;
	padding: var(--gap);
	background: linear-gradient(to bottom, #E3B67A, #EFDFB6);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
} */

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: var(--background);
}

#intro{
	background: white;
	z-index: 1100;
	top:0px;
	width: 100vw;
	box-sizing: border-box; 
	display: flex; /* 내부 컨텐츠를 정렬하기 위해 flexbox 사용 */
	flex-direction: column; /* 아이템을 세로로 배치 */
	justify-content: center; /* 가로 방향 중앙 정렬 */
}

#pizzabox{
	width: 90vw;
	height: 90vh;

	/* margin: 0; */
	text-align: center;
	padding: var(--gap);
	border: var(--pizzabox-border);
	box-sizing: border-box; 
	display: flex; 
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: var(--pizzabox-margin); /* ? 이렇게 하는 거 맞나요?*/
}


#pizzabox > h1{
	padding: var(--pizzabox-content-gap);
	max-width: var(--pizzabox-maxwidth);
	font-size: var(--font-size-h1);
	font-family: var(--font-h1);
	color: white;
	/* padding: var(--text-padding); */
	/* font-display: uppercase; xx 이거 안먹히는 거 같음 */
	text-transform: uppercase;
	text-align: center;

	-webkit-text-stroke-color: var(--color-red);
  -webkit-text-stroke-width: var(--stroke-h1);

}

#pizzaimg{
	width: var(--pizzaimg-size);
	height: auto;
	border-radius: 0%;
	/* ? 이미지 가운데 정렬 */
}

/* for channel discription */
#pizzabox > aside > p {
	color: var(--color-red);
	padding-top: var(--pizzabox-padding-top);
	text-align: center;
	font-family: var(--font-h3);
	font-size: var(--font-size-h3);
	text-transform: uppercase;

}

/* p + p {
	color: var(--color-red);
	padding: var(--pizzabox-content-gap);
	text-align: center;
	font-family: var(--font-h3);
	font-size: var(--font-size-h3);
}  */


#pizzaheader{
	display: flex; 
	align-items: center; 
	flex-direction: column;	
	text-align: center;
	position: sticky;
	justify-content: center;

	background: white;

	width: 90vw;
	height: var(--pizzaheader-height);
	margin: var(--pizzabox-margin);
	border: var(--pizzabox-border);

}


#pizza-h2-wrapper {
	color: white;
	/* padding-bottom: 0px; 필요한지 체크할 것 */

	-webkit-text-stroke-color: var(--color-red);
  -webkit-text-stroke-width: var(--stroke-h2);
	width: var(--pizzaheader-wrapper-width);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#pizza-h2-wrapper > h2 {
	padding-bottom:0 ;
	width: var(--pizzaheader-h2-width);
}

#pizzaheader.sticky {
  position: fixed;
  top: 0;
  left: 0;
	width: 100vw;
	justify-content: center;
	margin: 0 auto;
	padding: 3vw;
	border: none;
	height: auto;
  z-index: 1000;
}

#pizzaheader.sticky > #pizza-h2-wrapper {
	border: var(--pizzabox-border);
	width: 90vw;
	height: 18vh;
	padding: 3vw 0;
}


#body {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	padding: var(--gap);
	/* margin-top: 120vh; */
  align-items: center;
  width: 100vw;
	height: fit-content;
	overflow-x: hidden;
  /* transform: translate3d(0,-100vh,0); */
  /* transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 1px;
	transform-style: preserve-3d;
  padding-bottom: 10rem; */



  /* transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 100vw;
  perspective: 1px;
	transform-style: preserve-3d;
  padding-bottom: 10rem; */
}

/* 하프톤 없애려고 함
.halftone {
  background: radial-gradient(circle at center, black 0.0025rem, transparent 0);
} */



h1 { 
	font-size: var(--font-size-h1);
	font-family: var(--font-h1);
	color: var(--color-red);
	/* padding: var(--text-padding); */
	/* font-display: uppercase; xx 중복인 거 같은데 */
	line-height: var(--line-height-title);
	text-transform: uppercase;
}

h2{
	font-family: var(--font-h2);
	font-size: var(--font-size-h2);
	padding-bottom: var(--font-size);
	text-transform: uppercase;

}

h3{
	font-family: var(--font-h3);
	font-size: var(--font-size-h3);
	padding-bottom: var(--font-size);
	text-transform: uppercase;

}
h4{
	font-family: var(--font-h4);
	font-size: var(--font-size-h4);
	text-transform: uppercase;

}


p{
	font-family: var(--font-p);
	/* font-size: var(--font-size); 왜때문에 폰트사이즈를 적용하면 12px이 되는거죠?*/
	line-height: var(--line-height);
}

/* for text's title */
.title{
	font-family: var(--font-p);
	font-size: var(--font-size-fig);
	line-height: var(--line-height);
}

/* figcaption{
	font-family: var(--font-p);
	font-size: var(--font-size-fig);
	line-height: var(--line-height);
} */

/* PIZZA HELL'S GATE */
/* 살릴까 말까 고민중 */
/* #P { top: 22vh; left: 10vw; }
#I { top: 35vh; right: 20vw; }
#Z1 { top: 50vh; left: 30vw; }
#Z2 { bottom: 23vh; right: 30vw; }
#A { bottom: 8vh; left: 20vw; }

.letter {
	font-size: calc(var(--font-size) * 10); 
	font-family: var(--font-h1);
	color: var(--color-black);
	opacity: 50%;
	position: fixed;
	z-index: -1; 
} */

/* .container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	height: 100vh;
	margin: var(--font-size);
} */

.blocks{
	display: grid;
	grid-template-columns: repeat(var(--column), minmax(0, 1fr));
	gap: var(--gap);
	width: 80vw; /*CHANGE THE SPREAD OF CIRCLES*/
	margin-bottom:30vh;
}

.block{
	width: 200px;
	height: 200px;

	position:relative;
	border-radius: 100%;
	object-fit: cover;
	transition: 1s;
	transform-origin: center !important; 
}

.block:hover{
	width: 300px;
	height: 300px;
	z-index: 1000;
}

button{
	/* margin-top: .5em; */
	/* padding: var(--gap); */
	cursor: pointer;
	border-radius: 100%;
}

 /* LINK LINK LINK LINK LINK LINK LINK LINK LINK LNK LINK LINK LINK LINK LINK LINK  */
.block-link {
	display: inline-flex;

	flex-direction: column; /* 아이템을 세로로 배치 */

	/* align-items: center;  체크필요 */
	justify-content: center;
	/* width: 100%;  */
	background-color: var(--color-red);
	color: white; 
	border-radius: 50%;
	text-decoration: none; /* 링크 밑줄 제거 !! */
	/* box-shadow: 2px 2px 50px rgb(101, 11, 11); */


	font-family: var(--font-h4); 
	font-size: var(--font-size-h4);
	color: #333; 

	text-align: center; 
	padding: var(--gap); 
	margin: 20px auto; 
	box-sizing: border-box;
	transition: .5s;
}

.block-link:hover{
	color: white;
}

a{
		cursor: pointer;
}

/* IMAGE IMAGE IMAGE IMAGE IMAGE IMAGE IMAGE IMAGE IMAGE IMAGE IMAGE IMAGE IMAGE */


img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
	border-radius: 50%;
	z-index: 1;
}

/* .filtered{
	background-color: tomato;
	position: relative;
}
.filtered img {
  filter: grayscale(1);
  opacity: 0.5;
} */
/* 
} */



/* .pepperoni {
  transform: rotate(90deg); 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  transform-origin: 50% 50%;
  transform: translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
  transition: 1s;
} */

/* .block-image{
	opacity: 1;
	filter: grayscale(1);
}	
.block-image:hover {
	opacity: 1;
	filter: grayscale(0);
	z-index: 10000;

	filter: none;
	transform: translateZ(0) scale(1.2) translateX(-20vw) translateY(20vh);

	transition: 200ms linear all;
}	 */

/* fullscreen fullscreen fullscreen fullscreen fullscreen */
/* .block-image.active img{
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	z-index: 10; 
	top: 0; 
	left: 0; 
} */

.fullscreen-image-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	border-radius: 0%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 2000; 
	background-color: rgba(62, 61, 61, 0.774);
	backdrop-filter: blur(10px);

}

.active{
	display: flex!important;
}

.fullscreen-image-container img {
	width: 30%;
	height:auto;
	border-radius: 0%;
}

.fullscreen-text-container {
	width: 40%;
	height: 40vh;
	overflow-y: scroll;
	background-color: #333;
	color:#EFDFB6;
	padding: 2em;
}

/* fiter effect fiter effect fiter effect fiter effect */

.no-scroll {
	overflow-y: hidden;
}

.filtered {
	background: var(--color-red);
}

/*  전부 적용할까 말까 */
.filtered img {
 mix-blend-mode: screen;
 -webkit-filter: grayscale(100%);
 filter: grayscale(100%) contrast(200%);
 opacity: 1;
}

/* .block-image_padding{
	padding-top: 180px;
} */
/* .block-image.active .block-image_description{
	display: block;
} */

.close-button {
	position: fixed;
	z-index: 3000;
	padding: 10px; 
	background-color: var(--color-red);
	color: #000; 
	border: none;
	font-size: var(--font-size);
}


/* TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT */

.block-txt {
	background-color: var(--color-red); 
	font-family: var(--font-p); 
	font-size: var(--font-size-h4);
	color: #333; 
	/* display: inline-block; */
	padding: var(--gap); 
	margin: 20px auto; 
	border-radius: 50%;
	/* box-sizing: border-box;  */
	/* box-shadow: 10px 10px 5px lightblue inset; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.block-txt > .title {
	text-align: center;
}

.block-txt blockquote + p {
	font-size: var(--font-size-h4);
	font-family: var(--font-p);
	line-height: var(--line-height);
}

/* VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO */


iframe{
	border-radius: 100%;
	opacity: .5;
}

.block-video{
	/* border-radius: 100%; */
	position: relative;
	display: flex;
  justify-content: center;
  align-items: center;
	padding: var(--gap); 
	margin: 20px auto; 
	overflow: hidden;
}

.video-play {
	position: absolute;
}

.active-video {
	border-radius: 0 !important;
}

.embedly-embed {
	border-radius: 0 !important;

}
/* PDF  PDF PDF PDF PDF PDF PDF PDF PDF PDF PDF PDF PDF PDF PDF PDF PDF PDF PDF PDF PDF */

.block-pdf{
	background-color: var(--color-red); 
	font-size: var(--font-size-h2);
	color: #333; 
	filter: grayscale(1);
	padding: var(--gap); 
	margin: 20px auto; 
	border-radius: 50%;
}
/* 내용을 표시하는 노란색 사각형 스타일 */
/* .block-txt .block-txt_content {
	display: none; 
	background-color: #f4d03f;
	padding: 20px; 
	margin-top: 10px; 

	backdrop-filter: blur(10px);
} */

/* .block-txt.active .block-txt_content{
	display: block;
}
 */




 footer {
	position: fixed; 
	right: 0; 
	bottom: 0; 
  z-index: 10;

	width: 100vw;
	height: auto;

	margin: 0 auto;
	/* padding: var(--gap); */
  /* width: 100%; */

	background: white;









}


#footer-pizzabox {
	display: flex; 
	flex-direction: column;	
	text-align: center;
	align-items: center; 
	justify-content: center;

	background: white;

	width: 90vw;
	height: var(--footer-height);
	margin: var(--pizzabox-margin);
	border: var(--pizzabox-border);	
}

#footer-pizzabox > p {
	font-size: calc(var(--font-size) * .9); /* !! 푸터 폰트사이즈 변수화 */
	font-family: var(--font-h3); /* !! 푸터 폰트 변수화 */
	text-transform: uppercase;
	color: var(--color-red);
}


/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */
/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */
/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */
/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */
/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */


@media (min-width: 768px) {
	:root{
		--pizzaheader-wrapper-width: fit-content;
		--pizzaheader-h2-width: fit-content;
		--font-size-h2: 6vw;

	}

}


/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */

@media (min-width: 1280px) {
	:root{
		
	}
}




/* FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT */ 



@font-face {
  font-family: 'Anton-Regular';
  src: url('fonts/Anton-Regular.woff2') format('woff2'),
       url('fonts/Anton-Regular.woff') format('woff'),
       url('fonts/Anton-Regular.ttf') format('truetype')
			 url('fonts/Anton-Regular.otf') format('otf');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Sharpie-Regular';
  src: url('fonts/Sharpie-Regular.woff2') format('woff2'),
       url('fonts/Sharpie-Regular.woff') format('woff'),
       url('fonts/Sharpie-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Sharpie-Bold';
  src: url('fonts/Sharpie-Bold.woff2') format('woff2'),
       url('fonts/Sharpie-Bold.woff') format('woff'),
       url('fonts/Sharpie-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Boxing-Regular';
  src: url('../fonts/Boxing-Regular.woff2') format('woff2'),
       url('../fonts/Boxing-Regular.woff') format('woff'),
       url('../fonts/Boxing-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}



@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap')
