/* FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT */ 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Jost:wght@900&display=swap');


@font-face {
  font-family: 'Anton-Regular';
  src: url('fonts/Anton-Regular.woff2') format('woff2'),
       url('fonts/Anton-Regular.woff') format('woff'),
       url('fonts/Anton-Regular.ttf') format('truetype')
			 url('fonts/Anton-Regular.otf') format('otf');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Sharpie-Regular';
  src: url('fonts/Sharpie-Regular.woff2') format('woff2'),
       url('fonts/Sharpie-Regular.woff') format('woff'),
       url('fonts/Sharpie-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Sharpie-Bold';
  src: url('fonts/Sharpie-Bold.woff2') format('woff2'),
       url('fonts/Sharpie-Bold.woff') format('woff'),
       url('fonts/Sharpie-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Jost:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');






:root{
	--font-size: 16px;
	--font-size-h1: calc(var(--font-size) * 2);
	--font-size-h2: calc(var(--font-size) * 1.5);

	--line-height: 160%;
	--gap: 1rem;

	--font-h1:'Anton', sans-serif;
	--font-h2:'Anton', sans-serif;
	--font-p:'Inter', sans-serif;
	--font-caption: 'Inter', sans-serif; /* 굵기 어떻게 바꾸는데 */

	--font-color-black: #000000;
	--font-color-red: rgba(251, 60, 38, 0.82);

	--column: 1;

}
header{
	position: fixed;
	padding: var(--gap);
	background: linear-gradient(to bottom, rgb(234, 228, 196), transparent);
  top: 0;
  left: 0;
  width: 100%;
	height: calc(val(--font-size)*100);
  z-index: 3;
}

body {
	margin: 0;
	height: 100vh;
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap; */
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	max-width: 1200px;
	margin: 0 auto;
	padding: var(--gap);
	margin-top: 200px;
  margin-bottom: 80px; 
}

.blocks{
	display: grid;
	grid-template-columns: repeat(var(--column), minmax(0, 1fr));
	gap: var(--gap);
}

h1 { 
	font-size: var(--font-size-h1);
	font-family: var(--font-h1);
	color: val(--font-color-black);
	/* padding: var(--text-padding); */
	font-display: uppercase;
	line-height: var(--line-height);
	text-transform: uppercase;
}

h2{
	font-family: var(--font-h2);
	font-size: var(--font-size-h2);
	padding-bottom: var(--font-size);
	text-transform: uppercase;

}
p{
	font-family: var(--font-p);
	line-height: var(--line-height);
}
aside {
	opacity: 50%;
}

/* p + p{
	margin-top: 1em;
} */


/* PIZZA HELL'S GATE */
#P { top: 7vh; left: 10vw; }
#I { top: 15vh; right: 20vw; }
#Z1 { top: 40vh; left: 30vw; }
#Z2 { bottom: 13vh; right: 30vw; }
#A { bottom: 2vh; left: 20vw; }

.letter {
	font-size: calc(var(--font-size) * 10); 
	font-family: var(--font-h1);
	color: val(--font-color-red);

	position: fixed;
	z-index: -1; 
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	height: 100vh;
	margin: var(--font-size);

}

/*없애는거 고래중*/
.image-wrapper { 
	/* position: absolute; */
	overflow: hidden;
	transform: translateY(100%); /* 초기 위치 설정*/
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
	aspect-ratio: 1 / 1;


	position: static;
	z-index: 1;
}

.pizza-link {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 200px;
	height: 200px; 
	background-color: red;
	color: white; 
	border-radius: 50%;
	text-decoration: none; /* 링크 밑줄 제거 !! */

	font-family: var(--font-p); 
	font-size: calc(var(--font-size) * 1.25); 
	text-align: center; 
	padding: 20px;
	box-sizing: border-box;
}

footer {
	position: fixed; 


	font-size: calc(var(--font-size) * .9);
	font-family: var(--font-p);

	padding: var(--gap);
	background: linear-gradient(to top, rgb(234, 228, 196), transparent);
	right: 0; 
	bottom: 0; 
  width: 100%;
	height: calc(val(--font-size)*10);
  z-index: 5;
}

.content-box {
	background-color: #f4d03f; 
	color: #333; 
	padding: 20px; 
	margin: 20px auto; 
	width: 80%; 
	box-sizing: border-box; 
	border-radius: 10px;

	font-size: calc(var(--font-size)*1.2);
	font-family: var(--font-p);
	line-height: var(--line-height);

}

/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */

@media (min-width: 768px) {
	:root{

	}
}


/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */

@media (min-width: 1280px) {
	:root{
		
	}
}




